@charset "UTF-8";
/* 2022-01-06 Discord KSK (코딩하는 사람들의 커뮤니티)
웹 퍼블리싱 강좌 예제 */

@import '~/../../html/4-1-inlineBlock/css/main.css';
@import '~/../../html/4-2-tagList/css/tag.css';
@import '~/../../html/4-3-selector/css/selector.css';
@import '~/../../html/4-4-cssProperty/boxModel/css/boxModel.css';
@import '~/../../html/4-4-cssProperty/boxModel/css/minmax.css';
@import '~/../../html/4-4-cssProperty/textStyle/css/font.css';
@import '~/../../html/4-4-cssProperty/textStyle/css/textStyle.css';
@import '~/../../html/4-4-cssProperty/element/css/element.css';
@import '~/../../html/4-4-cssProperty/etc/01/css/opacity.css';
@import '~/../../html/4-4-cssProperty/flex/css/flex.css';
@import '~/../../html/4-5-pseudo/css/pseudo.css';
@import '~/../../html/4-6-position/css/position.css';
@import '~/../../html/6-1-responsive/css/media.css';
@import '~/../../html/6-1-responsive/css/main.css';
@import '~/../../html/7-1-jquery/css/style.css';

/* 2022-05-12 심화 예제 */
@import '~/../../s02/WAI-aria/css/aria.css';

/* reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, a, button, abbr, address, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


ol, ul {
	list-style: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}


img {
	border: none;
}


a {
	text-decoration: none;
	color: inherit;
}

address {
	font-style: normal;
}

button {
	display: inline-block;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

input, button, a, select, option {
	font-family: inherit;
	font-size: inherit;
}

input[type="checkbox"] {
	border: none !important;
}

/* for lte IE10 */
input[type="radio"] {
	border: none !important;
}

/* for lte IE10 */
input[type="text"]::-ms-clear {
	display: none;
}


button:focus {
	outline: none;
}

caption, hr {
	display: none;
}

pre {
	word-break: break-all;
	white-space: pre-line;
	margin: 0 !important;
}

li {
	list-style: none;
}

/* common */
body, html {
	font-family: 'Noto Sans DemLight', "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;
	font-size: 13px;
	color: #333;
	letter-spacing: -0.045em !important;
}

.hidden {display: block; margin: 0; padding: 0; width: 0; height: 0; overflow: hidden; font-size: 0;
line-height: 0; visibility: hidden;}

@font-face {
	font-family: 'Noto Sans Light';
	font-style: normal;
	font-weight: 400;
	src: url(./font/notoSans/eot/NotoSansKR-Light-Hestia.eot);
	src: url(./font/notoSans/eot/NotoSansKR-Light-Hestia.eot?#iefix) format("embedded-opentype"), url(./font/notoSans/woff/NotoSansKR-Light-Hestia.woff) format("woff");
}
  
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url(./font/notoSans/eot/NotoSansKR-Regular-Hestia.eot); /* 파일경로 */
	src: url(./font/notoSans/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), /* ie8 폰트버그 fix */
	url(./font/notoSans/woff/NotoSansKR-Regular-Hestia.woff) format("woff"); 
	/* 브라우저마다 지원하는 폰트 확장이 다르기때문에 eot , woff 둘다 써주기 */
}

@font-face {
	font-family: 'Noto Sans Medium';
	font-style: normal;
	font-weight: 400;
	src: url(./font/notoSans/eot/NotoSansKR-Medium-Hestia.eot);
	src: url(./font/notoSans/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype"), url(./font/notoSans/woff/NotoSansKR-Medium-Hestia.woff) format("woff");
}

@font-face {
	font-family: 'lv1Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(../html/6-1-responsive/css/font/NEXON_Lv1_Gothic.eot);
}

@font-face {
	font-family: 'lv1GothicBold';
	font-style: normal;
	font-weight: 400;
	src: url(../html/6-1-responsive/css/font/NEXON_Lv1_Gothic_Low_Bold.eot);
}

@font-face {
	font-family: 'nGothic';
	font-style: normal;
	font-weight: 400;
	src: url(../html/6-1-responsive/css/font/NanumGothic.eot);
}

.wrap{width: 100%; height: 100%;}
.wrap div+div{margin-top: 50px;}
.wrap.wd1200{max-width: 1200px; margin: 0 auto;}
.wrap.hAuto{height: auto;}

.box{padding: 10px; box-sizing: border-box; font-size: 16px;}

.inlineBox{color: #000; background-color: #333;}
.inlineBox span{background-color: #fff;}

.blockBox{color: #fff; background-color: #ccc;}

.blockBox p{background-color: #000;}
.blockBox p+p{margin-top: 10px;}

.inBlockBox{background-color: #1f8a39;}
.inBlockBox span{display: inline-block; width: 200px; background-color: #fff;}

table{width: 100%;}
table th,td{border: 1px solid #000; padding: 10px; box-sizing: border-box;}
table th{height: 80px; background-color: #f5f5f5;}

.wrap .container{padding: 50px 0;}
.wrap .container .head{padding: 20px 0 10px 0; font-size: 24px; border-bottom: 1px solid #ddd; font-family: 'Noto Sans';}
.wrap .container .cont{margin-top: 20px; font-size: 20px; font-family: 'Noto Sans';}
.wrap .container .ex+.ex{margin-top: 50px;}
.wrap.mt0 div+div{margin-top: 0;}