<!DOCTYPE html>
<html lang="ko" class="no-display">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="../../6-1-responsive/images/ico-favi.png" sizes="16x16" />
    <link rel="stylesheet" href="../../../css/style.css" type="text/css"/>
    <script src="../../6-1-responsive/js/fouc.js"></script>
    <title>Discord KSK</title>
    <script>
        fouc(document.documentElement);
    </script>
</head>
<body>
    <!-- wrap -->
    <div class="wrap mt0 kskContents">
        <!-- container -->
        <div class="container">
            <!-- visual -->
            <div class="visual">
                <div class="inner">
                    <p>
                        <em class="green">코딩뉴비</em>부터<em class="skyBlue">현역 개발자</em>까지
                    </p>
                    <p>다양한 분들이 모여있는 이곳!</p>
                    <div class="enterArea">
                        <div class="btnEnter">
                            <a href="https://discord.gg/ksk" title="시작하기">시작하기
                                <svg width="12" height="12" viewBox="0 0 27.168 28.068">
                                    <g id="angle-double-right" transform="translate(27.534 -5.766) rotate(180)">
                                      <path id="패스_6" data-name="패스 6" d="M16.734-31.5a.889.889,0,0,0-.281-.647l-1.406-1.406a.889.889,0,0,0-.647-.281.889.889,0,0,0-.647.281L.647-20.447a.889.889,0,0,0-.281.647.889.889,0,0,0,.281.647L13.753-6.047a.889.889,0,0,0,.647.281.889.889,0,0,0,.647-.281l1.406-1.406a.889.889,0,0,0,.281-.647.889.889,0,0,0-.281-.647L5.4-19.8,16.453-30.853a.889.889,0,0,0,.281-.647Zm10.8,0a.889.889,0,0,0-.281-.647l-1.406-1.406a.889.889,0,0,0-.647-.281.889.889,0,0,0-.647.281L11.447-20.447a.889.889,0,0,0-.281.647.889.889,0,0,0,.281.647L24.553-6.047a.889.889,0,0,0,.647.281.889.889,0,0,0,.647-.281l1.406-1.406a.889.889,0,0,0,.281-.647.889.889,0,0,0-.281-.647L16.2-19.8,27.253-30.853a.889.889,0,0,0,.281-.647Z"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //visual -->

            <!-- contents -->
            <div id="contents">
                <div class="introArea">
                    <h1><strong>Place for Coding</strong></h1>
                    <p>C ,C++ ,Python , JS , Java 등등 여러 프로그래밍</p>
                    <p>언어에 대해 이야기하고, 원하는 것을 배울 수도 있습니다.</p>
                </div>
                <!-- mainSection -->
                <section class="mainSection">
                    <!-- inner -->
                    <div class="inner">
                        <div class="rowBox">
                            <div class="txtArea">
                                <strong>Question</strong>
                                <p>각각의 질문방에서 모르는 것들을 물어보세요.<br class="pc"/>
                                질문과 답변을 통해 빠르게 배워나가고,<br class="pc"/>
                                모르는 사람에게 해결책을 제시할 수도 있습니다.
                                </p>
                            </div>
                            <div class="imgArea">
                                <img src="../../6-1-responsive/images/img-dummy01.png" alt="Question 이미지">
                            </div>
                        </div>

                        <div class="rowBox reverse">
                            <div class="imgArea">
                                <img src="../../6-1-responsive/images/img-dummy02.png" alt="Code share 이미지">
                            </div>
                            <div class="txtArea">
                                <strong>Code share</strong>
                                <p>내가 작성한 코드 혹은 유용한 코드를</p>
                                <p>다른사람에게 마음껏 공유할 수 있습니다.</p>
                            </div>
                        </div>

                        <div class="rowBox">
                            <div class="txtArea">
                                <strong>Learn & Course</strong>
                                <p>프로그래밍 강좌로 쉽고 빠르게 배울 수 있습니다.</p>
                                <p>배우기 뿐만아니라 강좌를 신청하여 직접</p>
                                <p>진행할 수도 있습니다.</p>
                            </div>
                            <div class="imgArea">
                                <img src="../../6-1-responsive/images/img-dummy03.png" alt="Learn & Course 이미지">
                            </div>
                        </div>

                        <!-- newsArea -->
                        <div class="newsArea">
                            <div class="titArea">
                                <h1>주요 소식</h1>
                            </div>

                            <!-- boxList -->
                            <div class="boxList">
                                <!-- newsBox -->
                                <div class="newsBox">
                                    <div class="headArea">
                                        <p>제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목</p>
                                    </div>
                                    <div class="contArea">
                                        <p>
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                                        </p>
                                    </div>
                                    <div class="dateArea">
                                        <span>2022-03-04</span>
                                    </div>
                                </div>
                                <!-- //newsBox -->

                                <!-- newsBox -->
                                <div class="newsBox">
                                    <div class="headArea">
                                        <p>제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목</p>
                                    </div>
                                    <div class="contArea">
                                        <p>
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                                        </p>
                                    </div>
                                    <div class="dateArea">
                                        <span>2022-03-04</span>
                                    </div>
                                </div>
                                <!-- //newsBox -->

                                <!-- newsBox -->
                                <div class="newsBox">
                                    <div class="headArea">
                                        <p>제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목</p>
                                    </div>
                                    <div class="contArea">
                                        <p>
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용
                                            내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                                        </p>
                                    </div>
                                    <div class="dateArea">
                                        <span>2022-03-04</span>
                                    </div>
                                </div>
                                <!-- //newsBox -->
                            </div>
                            <!-- //boxList -->
                        </div>
                        <!-- //newsArea -->
                    </div>
                    <!-- //inner -->
                </section>
                <!-- //mainSection -->
            </div>
            <!-- //contents -->
        </div>
        <!-- //container -->
    </div>
    <!-- //wrap -->
</body>
</html>