<!DOCTYPE html>
<html lang="ko" class="no-display">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="../../6-1-responsive/images/ico-favi.png" sizes="16x16" />
    <link rel="stylesheet" href="../../../css/style.css" type="text/css"/>
    <script src="../../6-1-responsive/js/fouc.js"></script>
    <title>Discord KSK</title>
    <script>
        fouc(document.documentElement);
    </script>
</head>
<body>
    <!-- wrap -->
    <div class="wrap mt0 kskFooter">
        <div id="footer">
            <div class="inner">
                <div class="logoArea">
                    <h1>
                        <a href="#">
                            <img src="../../6-1-responsive/images/logo-ksk.png" alt="footer ksk 로고">
                        </a>
                    </h1>
                </div>
                <div class="bottomMenu">
                    <ul>
                        <li>
                            <a href="#" title="서버소개">서버소개</a>
                        </li>
                        <li>
                            <a href="#" title="공지사항">공지사항</a>
                        </li>
                        <li>
                            <a href="#" title="운영정책">운영정책</a>
                        </li>
                        <li>
                            <a href="#" title="서버문의">서버문의</a>
                        </li>
                    </ul>
                </div>
                <p class="copyRight">&copy; 2022 Discord KSK</p>
            </div>
        </div>
    </div>
    <!-- //wrap -->
</body>
</html>