.example *{font-size: 20px;}
.boxCont{padding: 50px;}
.titleType01,.titleType02,.titleType03{border-bottom: 1px solid #ddd; padding-bottom: 15px; color: #000;}
.titleType01{font-size: 32px;}
.titleType02{font-size: 28px;}
.titleType03{font-size: 24px;}
.example{margin-top: 20px;}