.wrap.fs{max-width: 1200px; margin: 0 auto;}
.wrap.fs .container .head{padding: 20px 0 10px 0; font-size: 24px; border-bottom: 1px solid #ddd; font-family: 'Noto Sans';}
.wrap.fs .container .cont{margin-top: 20px; font-size: 20px; font-family: 'Noto Sans';}
.wrap.fs .container .cont p.fz16{font-size: 16px;}
.wrap.fs .container .cont p.fz24{font-size: 24px;}
.wrap.fs .container .cont p.fz32{font-size: 32px;}
.wrap.fs .container .cont p.malgun{font-family: '맑은 고딕';}
.wrap.fs .container .cont p.ns{font-family: 'Noto Sans';}
.wrap.fs .container .cont p.nl{font-family: 'Noto Sans Light';}
.wrap.fs .container .cont p.md{font-family: 'Noto Sans Medium';}
.wrap.fs .container .cont p.fw1{font-weight: 100;}
.wrap.fs .container .cont p.fw2{font-weight: 200;}
.wrap.fs .container .cont p.fw3{font-weight: 300;}
.wrap.fs .container .cont p.fw4{font-weight: 400;}
.wrap.fs .container .cont p.fw5{font-weight: 500;}
.wrap.fs .container .cont p.fw6{font-weight: 600;}
.wrap.fs .container .cont p.fw7{font-weight: 700;}
.wrap.fs .container .cont p.fw8{font-weight: 800;}
.wrap.fs .container .cont p.fw9{font-weight: 900;}

.wrap.fs .container .ex+.ex{margin-top: 50px;}
.wrap.fs div+div{margin-top: 0;}