.wrap.txt .container .cont p.txtCenter{text-align:center;}
.wrap.txt .container .cont p.lh{line-height: 50px;}
.wrap.txt .container .cont p.blue{color: rgb(4, 0, 255);}
.wrap.txt .container .cont p.red{color: #f00;}
.wrap.txt .container .cont p.purple{color: rgb(140, 0, 255);}
.wrap.txt .container .cont p.letter{letter-spacing: 5px;}
.wrap.txt .container .cont p.ep{width: 800px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
